#addfoodTitle {
  width: 10vw;
  margin-left: 22%;
  margin-top: 2%;
}

.formAdmin {
  text-align: center;
  width: 16vw;
  margin-left: 19%;
  margin-top: 1%;
}

#footerTextAdmin {
  margin-top: 9vw;
}
