#addfood {
  width: 10%;
  margin-left: 22%;
  margin-top: 2%;
}

.formAdmin {
  text-align: center;
  width: 16%;
  margin-left: 19%;
  margin-top: 1%;
}

#submitBtn {
  margin-left: 0%;
}

#footerTextAdmin {
  margin-top: 12%;
  margin-left: 19%;
}

#enterData {
  margin-left: 15%;
  margin-top: 5%;
}
