#resultText {
  margin-left: 15%;
  margin-top: 3%;
  font-size: 200%;
}

#chooseFoodAginBtn {
  margin-top: 10%;
  margin-left: 22%;
}

#footerTextGenerateFood {
  margin-top: 10%;
  margin-left: 22%;
}

#logoutBtn {
  margin-left: 25%;
}
